<ul class="add">
  <%= form_tag("/posts/create") do %>
    <li>名前</li>
    <li><input type="text" name="name"/></li>
    <li>Body</li>
    <li><textarea name="content"></textarea></li>
    <li><input type="submit" value="Send"/></li>
  <% end %>
</ul>

<p><%= @message %></p>

<div id="area">
  <div id="todo">
    <h2>TODO</h2>
    <div class="list">
      <% @todo.each do |post| %>
      <!-- これを繰り返す -->
      <div class="todo-content">
        <h3><%= post.name %></h3>
        <pre><%= post.content %></pre>
        <ul class="edit">
          <li><%= link_to("Edit", "/posts/#{post.id}") %></li>
          <li><%= link_to("DONE", "/posts/#{post.id}/move") %></li>
        </ul>
      </div>
      <!-- ここまで -->
      <% end %>
    </div>
  </div>

  <div id="done">
    <h2>DONE</h2>
    <div class="list">
      <% @done.each do |post| %>
      <!-- これを繰り返す -->
      <div class="done-content">
        <h3><%= post.name %></h3>
        <pre><%= post.content %></pre>
        <ul class="edit">
          <li><%= link_to("Edit", "/posts/#{post.id}") %></li>
          <li><%= link_to("TODO", "/posts/#{post.id}/move") %></li>
        </ul>
      </div>
      <!-- ここまで -->
      <% end %>
    </div>
  </div>
</div>
