<!DOCTYPE html>
<html>
  <head>
    <title>Work1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">TODO App</a>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addListModal">
        Add
      </button>
    </nav>
    <%= yield %>
  </body>
</html>
